html, body, figure, ul, li, h1, content, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: sans-serif;
  border-radius: 0;
}

.group {
  clear: both;
  content: "";
  display: block;
}

ul {
  list-style: none;
}

.rules {
  width: 80%;
  margin: 20px auto;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  background: #eee;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

.game {
  width: 600px;
  margin: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.player {
  width: 120px;
  display: block;
}

.hand li, .piles li, .discard-piles li {
  padding: 8px 15px;
  margin: 2px;
}

.discard-piles {
  width: 120px;
  margin: 0px auto;
}

.piles li, .discard-piles li {
  height: 20px;
}

.g {
  color: green;
  border: 2px solid green;
}

.b {
  color: blue;
  border: 2px solid blue;
}

.o {
  color: orange;
  border: 2px solid orange;
}

.w {
  color: #aaa;
  border: 2px solid #aaa;
}

.y {
  color: yellow;
  border: 2px solid yellow;
}

.p {
  color: purple;
  border: 2px solid purple;
}
